extends layout

block content
	.container

		h1.text-center Famous!
		form.form
			.form-group
				input.form-control(type="text", name="name", placeholder="Name")
			.form-group
				input.form-control(type="text", name="email", placeholder="E-mail")
			.form-group
				input.form-control.btn-success(type="submit")